# Synthesis & Simulation Outputs
*.log
*.jou
*.pb
*.dcp
*.vdi
*.bit
*.bin
*.mcs

# Icarus Verilog / GTKWave
*.out
*.vcd

# EDA Tools (KiCad/Altium)
*-backups/
*.kicad_pcb-bak
*.lck

# OS & IDE
.DS_Store
.vscode/
.idea/
node_modules/
